<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279503619305-3a3bp0ahpo521762qftdnjcs3hpe7664.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279503619305-3a3bp0ahpo521762qftdnjcs3hpe7664</string>
	<key>API_KEY</key>
	<string>AIzaSyBAmzRdjLBf1Qz77xooOhI1QwrgLTxUaTc</string>
	<key>GCM_SENDER_ID</key>
	<string>279503619305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remoteConfigDemo</string>
	<key>PROJECT_ID</key>
	<string>remote-config-demo-fc3ed</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-config-demo-fc3ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279503619305:ios:412c393735d896219a1c78</string>
</dict>
</plist>